body{
  margin:0;
  overflow-x: hidden;
}
  nav {
  height: 415px;
  margin:0;
  position:relative;
  top:0;
  width:100%;
}
.menu{
  display:flex;
  justify-content: space-around;
  align-items:center;
  background-color:#f2f2f2;
  height: 215px;
  opacity: .9;
  z-index:100;
}
.menu p{
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color:#303030;
  font-variant:small-caps;
}

nav{
  background-size: cover;
  background-repeat:no-repeat;
}
.nav-main{
  background-image: url(fix-index-hero.jpg);
}
.nav-about{
  background-image: url(fix-about-hero.jpg);
}
.nav-custom{
  background-image: url(fix-custom-hero.jpg);
}
.nav-cake{
  background-image: url(fix-menu-hero.jpg);
}
.nav-hours{
  background-image: url(fix-hours-hero.jpg);
}

.headercontainer{
  display: inline-flex;
  width:100%;
  height:451px;
  margin:0;
  z-index:200;
  position:relative;
}
.heading{
  position:absolute;
}
.headingA{
    z-index:4;
    background-color:#be5f27;
    width:200px;
    height:auto;
    margin: 0;
    top: 0;
    margin-left: 43%;
}
h1{
  letter-spacing: 2px;
  position: absolute;
  z-index: 4;
  background-color: #be5f27;
  text-align: center;
  color: #f2f2f2;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 2.1em;
  margin: 0;
  padding: 2px 7px;
}

.aboutus{
  position:relative;
  display: inline-block;
  left:0;
  width:50%;
  height:100%;
  margin:0;
  background-color: #f2f2f2;
}
.aboutus p{
  margin: 50px 110px 15px 150px;
  justify-content: left;
  font-size: 1em;
  line-height: 1.6em;
  font-family:'Lato';
  font-weight: regular;
  color:#303030;
}
.aboutus p:first-child{
  margin-top:100px;
}
.aboutus p a{
  font-family:'Lato';
  font-weight:700;
  font-style:italic;
  color:#be5f27;
  text-decoration:none;
}
.learnmore a:hover{
  background-color:#f2f2f2;
}
.hidden{
  visibility: hidden;
}

.cakelist{
  height:100%;
  float:right;
  display: inline-block;
  width:50%;
  background-color:#c3bbac;
  position:relative;
}
.cakelist p, .cakelistA b{
  font-family:'Oswald';
  font-weight:700;
  font-size:3.25em;
  line-height: .9em;
  color: #f2f2f2;
  margin:0;
  padding:0;
  justify-content: center;
  text-align:center;
  text-transform: uppercase;
}
.cakelistA p{
  font-weight:300;
}
.cake-icon{
  padding-top: 40px;
  padding-bottom: 25px;
  margin-left:40%;
}
.hours{
  display:flex;
  height: 220px;
  width:100%;
  background-color: #8e5942;

}
.hours p, .cakelistA p{
  font-family:'Oswald',sans-serif;
  font-weight: 300;
  font-size: 2.1em;
}
.hours p{
  color:white;
  justify-content: space-around;
  margin:auto;
}
.hours b, .cakelistA b{
  font-family:'Oswald';
  font-weight: 700;
}
.cakelistA p{
  color: #8e5942;
  padding:0;
}
.cakelistA p:first-child{
  padding-top:100px;
}
section.cake1, section.cake2, section.cake3 {
  display:flex;
  padding:0;
  width:100%;
  height:400px;
  margin:0;
}

aside.words{
  font-family: 'Oswald';
  font-weight:700;
  text-transform: uppercase;
  color:#c3bbac;
  font-size:2.5em;
  line-height:.9em;
  display:flex;
  align-items: center;
  align-content:space-around;
  flex-flow: column wrap;
  margin:auto;
}
aside p{
  margin:0;
}
.cakepic{
  height:100%;
  width:66%;
}
.even{
  width:66%;
  height:auto;
}

footer  {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #be5f27;
  height:300px;
  width:100%;
  position: absolute;
}
aside.hournotes, .footnotes p{
  font-family:'Oswald';
  font-size:.9em;
  color:#f2f2f2;
  text-transform: uppercase;
}
aside.hournotes p{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding:5px;
  font-weight: 300;
}
img.social, p.social{
  padding:12px;
}

img.footlogo{
  display:flex;
}

/* about page */

div.image-container{
  display: flex;
  width:55.5%;
  background-color:#c3bbac;
}
.tier_two{
  display: flex;
  flex-direction: row-reverse;
}
.image-container{
  background-size: contain;
  background-repeat:no-repeat;
}
.one{
  background-image: url(fix-about-riley.png);
}
.two{
  background-image: url(fix-about-cassandra.png);
}
.three{
  background-image: url(fix-about-danielle.png);
}

.tier_one, .tier_two, .tier_three{
  display:flex;
  height:110vh;
  bottom:0
}

.tier_one_title, .tier_two_title, .tier_three_title {
  display: flex;
  width:40%;
  flex-flow: wrap;
  font-family: 'Lato';
  font-weight:300;
  text-transform: uppercase;
  line-height: 1.8em;
  color:#be5f27;
  margin:0;

}
article.tier_one_title, article.tier_three_title{
  margin:5% 10% 5% 4%;

}
article.tier_two_title{
  margin:5% 4% 5% 10%;
}
.tier_two_title p{
  text-align: right;
}
article p{
  width:100%;
  font-size: 1.2em;
  margin:0;
  text-align:left;
}
article p:nth-child(3){
  text-transform:none;
  color:black;
}
article p:first-child{
  font-weight:700;
}

.bottom {
  height:200px;
  background-color: #8e5942;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
  font-weight:300;
  color:#f2f2f2;
  font-size: 1.6em;
}
.bottom p{
  font-style:italic;
}

div.strip {
  position:relative;
  background: #e0d7c5;
  margin:0 20%;
  padding: 10%;
}

h2, p{
  font-family:'Lato';
  text-align:center;
  font-weight: 300;
  font-size: 1em;
}

h2 {
  color:#8e5942;
  text-transform:uppercase;
  font-weight:bold;
}

hr{
  border-top: .8px solid #ffffff;
}
